<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Login</h2>
          <form (ngSubmit)="login()" key.press.enter #loginForm="ngForm">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="email"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="!loginForm.valid">Login</button>
            <div id="googleButton"></div>

            <div class="mt-3 text-center">
              <small>Don't have an account? <a routerLink="/signup" class="text-primary">Sign up here</a></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
