

    


<body>
    <div class="container-fluid bg-white p-0 " style="height: 100vh;">
        <!-- Spinner Start -->
        <app-spinner [loading]="loading"></app-spinner>

          
        <!-- Spinner End -->

        <app-navbar></app-navbar>



        <!-- Carousel Start -->
        <app-carousel></app-carousel>

        <!-- Carousel End -->


        <!-- Search Start -->
       <app-search></app-search>
        <!-- Search End -->


        <!-- Category Start -->
       <app-category></app-category>
        <!-- Category End -->


        <!-- About Start -->
        <app-about></app-about>
        <!-- About End -->


        <!-- Jobs Start -->
       <app-job-listing></app-job-listing>
        <!-- Jobs End -->


        <!-- Testimonial Start -->
        <app-testimonial></app-testimonial>
        <!-- Testimonial End -->
        

        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


</body>

